doctype html
html
	head
		title Project Title
		script(src='./js/modernizr.js', type='text/javascript')
		script(src='//use.typekit.net/lrz3jjn.js' type='text/javascript')
		script(type='text/javascript') try{Typekit.load();}catch(e){}
		link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css')
		link(href='./css/master.css', rel='stylesheet', type='text/css')
	body

		section.section--primary
			.shell
				.grid
					.grid__item.one-whole
						h1.flush Primary Section

		section
			.shell
				.grid
					.grid__item.one-half
						h2 Some Heading
						p Lorem ipsum In dolor minim ut quis Duis ad aliquip nostrud irure ut irure est esse velit occaecat reprehenderit culpa aliquip eiusmod officia non pariatur adipisicing laboris commodo sunt incididunt sit qui nisi dolor incididunt consequat ut consectetur.
						a.btn--filled Primary Filled
					.grid__item.one-half
						h2 Another Heading
						p Lorem ipsum In dolor minim ut quis Duis ad aliquip nostrud irure ut irure est esse velit occaecat reprehenderit culpa aliquip eiusmod officia non pariatur adipisicing laboris commodo sunt incididunt sit qui nisi dolor incididunt consequat ut consectetur.
						a.btn Primary Unfilled

		section.section--secondary
			.shell
				.grid
					.grid__item.one-whole
						h2 Secondary Section
						br
						hr
						br
					.grid__item.one-third.centered
						h3 h3 Heading
						p Lorem ipsum Pariatur incididunt quis magna eu dolor ad adipisicing in enim dolore incididunt minim nulla exercitation.
						a.btn--pill Call to Action
					.grid__item.one-third.centered
						h3 h3 Heading
						p Lorem ipsum Excepteur aute ea labore fugiat amet deserunt voluptate laboris cillum Ut aute ullamco in quis cupidatat occaecat non.
						a.btn--pill Call to Action
					.grid__item.one-third.centered
						h3 h3 Heading
						p Lorem ipsum Ut consectetur aliquip laboris reprehenderit occaecat do velit eu incididunt dolor dolore commodo cupidatat esse pariatur.
						a.btn--pill.btn--filled Call to Action
		
		section.section--tertiary
			.shell
				.grid
					.grid__item.one-whole
						h2 Tertiary Section
						br
						hr
						br
				.grid.floating.floating--left
					.grid__item.floating__item.one-half
						h2 Yet Another Heading
						p Lorem ipsum In dolor minim ut quis Duis ad aliquip nostrud irure ut irure est esse velit occaecat reprehenderit culpa aliquip eiusmod officia non pariatur adipisicing laboris commodo sunt incididunt sit qui nisi dolor incididunt consequat ut consectetur.
						a.btn Call to Action
					.grid__item.floating__item.one-half.centered

		section.section--medium
			.shell
				.grid
					.grid__item.one-whole
						h2 Medium Section
						br
						hr
						br
				.grid.floating.floating--right
					.grid__item.floating__item.one-half.centered
						
					.grid__item.floating__item.one-half
						h2 Yet Another Heading
						p Lorem ipsum In dolor minim ut quis Duis ad aliquip nostrud irure ut irure est esse velit occaecat reprehenderit culpa aliquip eiusmod officia non pariatur adipisicing laboris commodo sunt incididunt sit qui nisi dolor incididunt consequat ut consectetur.
						a.btn Call to Action

		section
			.shell
				.grid
					.grid__item.one-whole
						h2 Regular Section
						br
						hr
						br
					.grid__item.one-whole.centered
						.constrained
							h2 Yet Another Heading
							p Lorem ipsum In dolor minim ut quis Duis ad aliquip nostrud irure ut irure est esse velit occaecat reprehenderit culpa aliquip eiusmod officia non pariatur adipisicing laboris commodo sunt incididunt sit qui nisi dolor incididunt consequat ut consectetur.
							a.btn Call to Action

		section.section--dark
			.shell
				.grid
					.grid__item.one-whole
						h2 Dark Section
						br
						hr
						br
					.grid__item.one-quarter
						h4 h4 Heading
						p Lorem ipsum In dolor minim ut quis Duis ad aliquip nostrud irure ut irure est esse velit occaecat reprehenderit.
					.grid__item.one-quarter
						h4 h4 Heading
						p Lorem ipsum Eu non minim consequat sint dolor Duis Duis adipisicing et id Excepteur ex.
					.grid__item.one-quarter
						h4 h4 Heading
						p Lorem ipsum Tempor esse est reprehenderit dolor aute sit aliqua consectetur laboris labore aliquip exercitation amet.
					.grid__item.one-quarter
						h4 h4 Heading
						p Lorem ipsum Reprehenderit in aliquip minim in minim mollit elit consequat adipisicing est in qui reprehenderit laboris.

